[Unit]
Description=CASM daily injection recovery report

[Service]
Type=oneshot
ExecStart=/home/casm/software/dev/casm_venvs/casm_offline_env/bin/t2-inject-report
StandardOutput=journal
